<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-5.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- Create/update tables automatically using mapping metadata -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Use Annotation-based mapping metadata -->
		<mapping class="com.hibernate.entity.Person" />
		<mapping class="com.hibernate.entity.PersonEmbedded" />

		<mapping class="com.hibernate.entity.Message" />

		<mapping class="com.hibernate.entity.Guide" />
		<mapping class="com.hibernate.entity.Student" />

		<mapping class="com.hibernate.entity.StudentCascade" />

		<mapping class="com.hibernate.entity.StudentManyToOne" />
		<mapping class="com.hibernate.entity.GuideManyToOne" />

		<mapping class="com.hibernate.entity.Customer" />
		<mapping class="com.hibernate.entity.Passport" />

		<mapping class="com.hibernate.entity.Movie" />
		<mapping class="com.hibernate.entity.Actor" />

		<mapping class="com.hibernate.entity.Employee" />
		<mapping class="com.hibernate.entity.EmployeeEntity" />

		<mapping class="com.hibernate.entity.Friend" />

		<mapping class="com.hibernate.entity.Parent" />
		<mapping class="com.hibernate.entity.Child" />

		<mapping class="com.hibernate.entity.UserFormula" />
		<mapping class="com.hibernate.entity.TimeTest" />
		<mapping class="com.hibernate.entity.UserTransient" />
		<mapping class="com.hibernate.entity.UserPropertyAccess" />
		<mapping class="com.hibernate.entity.Bank" />
		<mapping class="com.hibernate.entity.BankMap" />

		<mapping class="com.hibernate.entity.UserCollectionCompositeTypes" />

	</session-factory>
</hibernate-configuration>